.footer{
    margin-top: 80px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: $color-primario;
    color: $color-secundario;
    
    p{
        font-size: 14px;

        a{
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-weight: 600;
        }
    }
}