/*VARIABLES*/
/**/
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 16px;
  font-weight: 700;
}

p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

section {
  padding: 0 40px;
  padding-top: 40px;
}

/*STICKY FOOTER*/
.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.wrap .main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main {
  max-width: 960px;
  margin: auto;
}

.header {
  width: 100%;
  position: fixed;
  background-color: #00AF1C;
  padding: 15px;
}

.header-content {
  margin: auto;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav ul a {
  padding: 16px;
  font-size: 12px;
  font-weight: 400;
}

.header nav ul a:hover {
  background-color: white;
  color: #00AF1C;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.gallery figure {
  width: 30%;
}

.gallery img {
  width: 100%;
  display: block;
}

.home {
  padding-top: 80px;
}

.home h2 {
  color: blueviolet;
}

.home p {
  padding: 20px 0;
}

.services {
  padding-top: 40px;
}

.services h2 {
  color: brown;
}

.services p:nth-child(2) {
  padding-top: 20px;
}

.services p:nth-child(3) {
  padding: 20px 0;
}

.services ul {
  margin-top: 20px;
  list-style: outside;
}

.services ul li {
  font-weight: 500;
  padding-top: 5px;
  margin-left: 20px;
}

.services ul li:nth-child(1) {
  color: #d12f2f;
}

.services ul li:nth-child(2) {
  color: #1100ff;
}

.services ul li:nth-child(3) {
  color: #b98119;
}

.services ul li:nth-child(4) {
  color: #00ff80;
}

.portafolio {
  padding-top: 40px;
}

.portafolio h2 {
  color: brown;
}

.portafolio p:nth-child(2) {
  padding-top: 20px;
}

.portafolio p:nth-child(3) {
  padding: 20px 0;
}

.portafolio ul {
  margin-top: 20px;
  list-style: outside;
}

.portafolio ul li {
  font-weight: 500;
  padding-top: 5px;
  margin-left: 20px;
}

.portafolio ul li:nth-child(1) {
  color: #963d3d;
}

.portafolio ul li:nth-child(2) {
  color: #bf2eab;
}

.portafolio ul li:nth-child(3) {
  color: #35a03e;
}

.portafolio ul li:nth-child(4) {
  color: #211a5f;
}

.contact {
  padding-top: 40px;
}

.contact h2 {
  color: brown;
}

.contact p {
  padding: 20px 0;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.contact form input, .contact form textarea {
  font-family: inherit;
  padding: 15px;
  outline: none;
  border: 1px solid darkgray;
}

.contact form input:focus, .contact form textarea:focus {
  border: 1px solid #00AF1C;
}

.contact form input:hover, .contact form textarea:hover {
  border: 1px solid #21cf18;
}

.contact form button {
  width: 200px;
  padding: 15px;
  border: 1px solid #00AF1C;
  background: white;
  color: #00AF1C;
}

.contact form button:hover {
  background-color: #00AF1C;
  color: white;
}

.footer {
  margin-top: 80px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #00AF1C;
  color: white;
}

.footer p {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */